<!DOCTYPE html>
<html lang="en">


<!-- add-patient24:06-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assts/img/favicon.ico">
    <title>Hospital</title>
    <link rel="stylesheet" type="text/css" href="assts/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assts/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assts/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assts/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assts/css/style.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="index-2.html" class="logo">
					<img src="assts/img/logo.png" width="35" height="35" alt=""> <span>Hopital</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <div class="dropdown mobile-user-menu float-right">
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                         
                          <li>
                            <a href=""><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li>
                            <a href="/show/doctor"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                        </li>
                        <li class="active">
                            <a href="/patient"><i class="fa fa-wheelchair"></i> <span>Patients</span></a>
                        </li>
                        <li>
                            <a href="/rendezvous"><i class="fa fa-calendar"></i> <span>Rendez vous</span></a>
                        </li>
                        <li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Ajout Patient</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form id="formp">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>NOM <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="nom">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Prenom</label>
                                        <input class="form-control" type="text" id="prenom">
                                    </div>
                                </div>

                             <div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>Genre</label>
												<select class="form-control select" id="genre">
													<option value="Homme"
                                                       {% if data|default(null) != null and data.genre == "Homme" %}
                                                   selected
                                                    {% endif %}
                                                    
                                                    >Homme</option>
                                                    <option value="Femme"
                                                       {% if data|default(null) != null and data.genre == "Femme" %}
                                                   selected
                                                    {% endif %}
                                                    
                                                    >Femme</option>

												</select>
											</div>
										</div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Age <span class="text-danger">*</span></label>
                                        <input class="form-control"  type="number" min="0",max="100" id="age">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Telephone</label>
                                        <input class="form-control" type="text" id="telephone" >
                                    </div>
                                </div>
                                     <div class="relation">
                                <div class="w-full bg-blue-100 border-gray-400 h-24 flex flex-col gap-0.5 overflow-y-auto border-2 border-gray-200 w-full py-1 px-4 text-gray-700 leading-tight">
                                    {% for nationalites in nationalite %}
                                        <div class="flex items-center gap-2">
                                            <input id="religion_ckb_{{ loop.index }}" type="checkbox" class="religion_ckb rounded-sm" value="{{ nationalites.id }}" 
                                            {% if data|default(null) != null and nationalitePatient |default(null) != null %}
                                                {% for pr in nationalitePatient %}
                                                    {% if pr|default(null) != null and pr.nationalites == nationalite.id %}
                                                        checked
                                                    {% endif %}
                                
                                                {% endfor %}

                                            {% endif %}/>
                                            <label for="religion_ckb_{{ loop.index }}">{{nationalites.nom}}</label> 
                                        </div>
                                    {% endfor %}
                                </div>    
									</div>
								</div>
                            </div>
                            <div class="m-t-5 text-center ml-9">
                                <button class="btn btn-primary submit-btn" type="submit">Enregistre Patient</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assts/js/jquery-3.2.1.min.js"></script>
	<script src="assts/js/popper.min.js"></script>
    <script src="assts/js/bootstrap.min.js"></script>
    <script src="assts/js/jquery.slimscroll.js"></script>
    <script src="assts/js/select2.min.js"></script>
	<script src="assts/js/moment.min.js"></script>
	<script src="assts/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assts/js/app.js"></script>

    <script src="assts/js/jquery-3.2.1.min.js"></script>
    <script>

 $(document).ready(function(){ 

	  $('#formp').submit(function(e){

		e.preventDefault();

		var nom_patient       =    $('#formp #nom').val();

		var prenom_patient    =    $('#formp #prenom').val();

		var genre_patient     =    $('#formp #genre').val();

		var age_patient        =    $('#formp #age').val();

		var telephone_patient  =    $('#formp #telephone').val();

        var nationalite_patient =   $('.religion_ckb').val(); 

		console.log(prenom_patient)

	$.ajax({
			method:'POST',

			dataType:'json',

			url:'/ajout',

			data:{
                nom:nom_patient,

                prenom:prenom_patient,

                genre:genre_patient,

                age:age_patient,

                telephone:telephone_patient,
                
                nationalite:nationalite_patient

		     },

			success:function(data) { 
				  if (data.code==1) {
				 window.location.href='/patient' 
					
				  }	    
			   },
		   error:function(error) {
				console.log(error.responseText)   
			}

		});

	 }); 	 

});  
 </script>
</body>


<!-- add-patient24:07-->
</html>
