<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
 {# body{
    background-color:rgba(0,0,0,0.2)
 } #}
</style>


<body>
   
<center>
   
    <img src="/asset/images/4.png" alt="Slider Images"  class="slide-image" width="400px" height ="300px">
   <h1>
   Acces refusé
   vous n etes pas autorisé a consulter cette page</h1>
    
    <a href="{{path('app_hopitalhome')}}" class="btn btn-primary"> 
    retournez  a l'accueil                
   </a>
</center>
                          
       
</body>

</html>