<!DOCTYPE html>
<html lang="en">


<!-- add-doctor24:06-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Hospital</title>
    <link rel="stylesheet" type="text/css" href="assts/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assts/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assts/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="assts/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="assts/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="index-2.html" class="logo">
					<img src="assts/img/logo.png" width="35" height="35" alt=""> <span>Preclinic</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span class="badge badge-pill bg-danger float-right">3</span></a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span>Notifications</span>
                        </div>
                        <div class="drop-scroll">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">
												<img alt="John Doe" src="assets/img/user.jpg" class="img-fluid rounded-circle">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">L</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">G</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media">
											<span class="avatar">V</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
												<p class="noti-time"><span class="notification-time">2 days ago</span></p>
											</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right">8</span></a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="assets/img/user.jpg" width="40" alt="Admin">
							<span class="status online"></span></span>
                        <span>Admin</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                       <li>
                            <a href=""><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li class="active">>
                            <a href="/show/doctor"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                        </li>
                        <li 
                            <a href="/patient"><i class="fa fa-wheelchair"></i> <span>Patients</span></a>
                        </li>
                        <li>
                            <a href="/rendezvous"><i class="fa fa-calendar"></i> <span>Rendez vous</span></a>
                        </li>
                        <li>  
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Ajouter Doctor</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form id="form" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label> Nom <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name="nom" id="nom">
                                     </div>
                                    	<div class="form-group">
                                            <label>Specialite</label>
												<select class="form-control select" id="specialite">
                                                      
                                                        <option value="">Déroulez la liste</option>
                                                        {% for specialite in specialite %}
                                                            <option
                                                            {% if data|default(null) != null %}
                                                                {% if data.specialite == specialite.id %}
                                                                    selected
                                                                {% endif %}
                                                            {% endif %}
                                                            value="{{specialite.id}}"
                                                            >
                                                            {{specialite.nom}}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
			
											</div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label> Prenom</label>
                                        <input class="form-control" type="text"  name="prenom" id="prenom">
                                    </div>

                                </div>	{# <div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>Departement</label>

                                                	<select class="form-control select" id="departement">
													<option value="Ophtamolgie"
                                                       {% if data|default(null) != null and data.departement == "Ophtamolgie" %}
                                                   selected
                                                    {% endif %}
                                                    
                                                    >Ophtamolgie</option>
                                                    <option value="Neurologie"
                                                       {% if data|default(null) != null and data.genre == "Neurologie" %}
                                                   selected
                                                    {% endif %}
                                                    
                                                    >Neurologie</option>

												</select>
												
											</div>
										</div> #}

                               {#  <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Username <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div> #}
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" name="email" id="email">
                                    </div>
                                </div>
                                 <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Adresse</label>
                                        <input class="form-control" type="text" name="adresse" id="adresse">
                                    </div>
                                </div> 
								<div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Date-naissance</label>
                                        <div class="cal-icon">
                                            <input type="text" class="form-control datetimepicker"name="datenaissance" id="datenaissance">
                                        </div>
                                    </div>
                                </div>
                              <div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>Genre</label>
												<select class="form-control select" id="genre">
													<option value="Homme"
                                                       {% if data|default(null) != null and data.genre == "Homme" %}
                                                   selected
                                                    {% endif %}
                                                    
                                                    >Homme</option>
                                                    <option value="Femme"
                                                       {% if data|default(null) != null and data.genre == "Femme" %}
                                                   selected
                                                    {% endif %}
                                                    
                                                    >Femme</option>

												</select>
											</div>
										</div>
										<div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
                                            <label>Pays</label>
												<select class="form-control select" id="pays">
													<option value="Congo"
                                                       {% if data|default(null) != null and data.pays == "Congo" %}
                                                   selected
                                                    {% endif %}
                                                    
                                                    >Congo</option>
                                                    <option value="Gabon"
                                                       {% if data|default(null) != null and data.pays == "Gabon" %}
                                                   selected
                                                    {% endif %}
                                                    
                                                    >Gabon</option>

												</select>
					
											</div>
										</div>
										 <div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>City</label>
												<input type="text" class="form-control">
											</div>
										</div> 
										
										{# <div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
												<label>Postal Code</label>
												<input type="text" class="form-control">
											</div>
										</div> #}
									</div>
								</div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Phone </label>
                                        <input class="form-control" type="text" name="telephone" id="telephones">
                                    </div>
                                </div>

                                <div class="col-sm-6 col-md-6 col-lg-3">
											<div class="form-group">
                                            <label>Capitale</label>
												<select class="form-control select" id="capitale">
													<option value="Brazzaville"
                                                       {% if data|default(null) != null and data.capitale == "Brazzaville" %}
                                                   selected
                                                    {% endif %}
                                                    
                                                    >Brazzaville</option>
                                                    <option value="Libreville"
                                                       {% if data|default(null) != null and data.capitale == "Libreville" %}
                                                   selected
                                                    {% endif %}
                                                    
                                                    >Libreville</option>

												</select>
					
											</div>
										</div>
                                <div class="col-sm-6">
									<div class="form-group">
										<label>Avatar</label>
										<div class="profile-upload">
											<div class="upload-img">
												<img alt="" src="assts/img/user.jpg">
											</div>
											<div class="upload-input">
												<input type="file" class="form-control" name="file" id="file">
											</div>
										</div>
									</div>
                                </div>  
                            </div>
							{# <div class="form-group">
                               <label>Short Biography</label>
                                <textarea class="form-control" rows="3" cols="30"></textarea>
                            </div>  #}
                           {#  <div class="form-group">
                                <label class="display-block">Status</label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="doctor_active" value="option1" checked>
									<label class="form-check-label" for="doctor_active">
									Active
									</label>
								</div> #}
								{# <div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="status" id="doctor_inactive" value="option2">
									<label class="form-check-label" for="doctor_inactive">
									Inactive
									</label>
								</div> #}
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn" type="submit">Create Doctor</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
			<div class="notification-box">
                <div class="msg-sidebar notifications msg-noti">
                    <div class="topnav-dropdown-header">
                        <span>Messages</span>
                    </div>
                    <div class="drop-scroll msg-list-scroll" id="msg_list">
                        <ul class="list-box">
                            <li>
                                <a href="chat.html">
                                    <div class="list-item new-message">
                                        <div class="list-left">
                                            <span class="avatar">J</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author">John Doe</span>
                                            <span class="message-time">1 Aug</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="chat.html">
                                    <div class="list-item">
                                        <div class="list-left">
                                            <span class="avatar">D</span>
                                        </div>
                                        <div class="list-body">
                                            <span class="message-author"> Domenic Houston </span>
                                            <span class="message-time">12:28 AM</span>
                                            <div class="clearfix"></div>
                                            <span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="chat.html">See all messages</a>
                    </div>
                </div>
            <div id="delete_patient" class="modal fade delete-modal" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<img src="assts/img/sent.png" alt="" width="50" height="46">
						<h3>Are you sure want to delete this Patient?</h3>
						<div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
							<button type="submit" class="btn btn-danger supprimer" >Delete</button>
						</div>
					</div>
				</div>
			</div>
		</div>
   </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="assts/js/jquery-3.2.1.min.js"></script>
	<script src="assts/js/popper.min.js"></script>
    <script src="assts/js/bootstrap.min.js"></script>
    <script src="assts/js/jquery.slimscroll.js"></script>
    <script src="assts/js/select2.min.js"></script>
	<script src="assts/js/moment.min.js"></script>
	<script src="assts/js/bootstrap-datetimepicker.min.js"></script>
    <script src="assts/js/app.js"></script>

       <script>
   $(document).ready(function(){
	 $('#form').submit(function(e){
		e.preventDefault();
        var nom_doctor=$('#form #nom').val();
	   var prenom_doctor=$('#form #prenom').val();
	   var datenaissance_doctor=$('#form #datenaissance').val();
	   var email_doctor=$('#form #email').val();
	   var pays_doctor=$('#form #pays').val();
	   var capitale_doctor=$('#capitale').val();
	   var adresse_doctor=$('#form #adresse').val();
	   var telephone_doctor=$('#telephones').val();
		var genre_doctor=$('#form #genre').val();  
        var specialite_doctor=$('#form #specialite').val(); 
       var files_doctors= document.getElementById('file').files[0]; 
		let url ="{{path('app_doctores')}}";
		var formData = new FormData();
        formData.append('nom',nom_doctor);
        formData.append('prenom' ,prenom_doctor);
        formData.append('email',email_doctor);
        formData.append('pays',pays_doctor);
        formData.append('capitale',capitale_doctor);
        formData.append('adresse',adresse_doctor);
        formData.append('telephone',telephone_doctor);
        formData.append('genre' ,genre_doctor); 
        formData.append('specialite',specialite_doctor)
        formData.append('image',files_doctors);
		$.ajax({
			method:"POST",  
			data:formData,
			 url:"/update/image",
			cache: false,
			dataType:'json',
		    processData: false,
            url:'/doctore',
			success:function(data) { 
			alert(data.message);    
			},
			error:function(error) {
			console.log(error.responseText)   
			}
		});  
		   
	});
	
 }) ; 
 










       
       
       </script>

</body>


<!-- add-doctor24:06-->
</html>
